.checkout {
  display: flex;
  padding: 20px;
  background-color: #eaeded !important;
  height: max-content;
}
.checkout__left__belowImage {
  background: white;
  padding: 15px;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout__title {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 2px solid gray;
}
.checkout__left__belowImage > h3 {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
