.home {
  display: flex !important;
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1500px !important;
}
.home__row {
  display: flex !important;
  z-index: 1 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.home__image {
  width: 100% !important;
  z-index: 1 !important;
  margin-bottom: -150px !important;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) !important;
}


